<meta charset="utf-8">
<meta name = "viewport" content = "width=device-width, initial-scale=1">
<title>Martian Robots</title>

<link rel="stylesheet" href="/client/views/partials/navbar.css" type="text/css">
<script src="/client/client.js"></script>
