<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class= "navbar-brand">Martian Robots</span>
        </div>
        <ul class="nav navbar-nav">
            <li id="li_new" class="navLi"><a href="/">New expedition</a></li>
            <li id="li_previous" class="navLi"><a href="/expeditions">Previous expeditions</a></li>
            <li id="li_insights" class="navLi"><a href="/insights">Data insights</a></li>
        </ul>
    </div>
</nav>