<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/navbar'); %>

        <main>
            <div class="page" id="homePage">
                <div class="instructions">
                    <p>
                        <h1>Explore Mars!</h1>
                        <br>
                        You're about to send robots on an expedition to Mars.
                        <br>
                        You must write the instructions of the expedition in the textbox below. <br>
                        Here's an example of the input format. You can copy it and paste it into the text box and send your first expedition now!
                        <br><br>
                        <p id="copy">
                            5 3 <br>
                            1 1 E <br>
                            RFRFRFRF <br>
                            3 2 N <br>
                            FRRFLLFFRRFLL <br>
                            0 3 W<br>
                            LLFFFRFLFL<br>
                        </p>
                        <button type="button" onclick="copyEvent('copy')">Copy the example!</button>
                        <br><br>
                        The first line of the instructions represents the x and y coordinates of the map of Mars.
                        <br>
                        Then you must write two lines for each robot: 
                        <br>
                        The first one represents the starting position of the robot. That is the x and y coordinates as well as the orientation (N, E, S or W).
                        <br>
                        The second one represents the instructions the robot will follow (R, L or F).
                        <br>
                        Once you've send the robots to Mars, refresh the page and go to  "Previous Expeditions" to check the journey's data.
                    </p>
                <br>
                    <p class="edge-cases">
                        When writing the instructions please keep in mind a few things:
                        <br>
                        - The maximum value for any coordinate must be 50
                        <br>
                        - The number of instructions you can assign to a robot must be less than 100
                        <br>        
                        - The starting position of all robots must be within the map grid
                    </p>
   
                    <br><br>
                    <form>
                        <textarea cols=40 rows=10 id="textinput"></textarea>
                        <br><br>
                        <button type="button" onclick="postInput('textinput')" >Begin expedition!</button>
                    </form>
                    <br><br>
                </div>
            </div>
        </main>
    </body>
</html>
